/*
    Developed By: Emil Barranco | Technologist
    February 3rd, 2020 - February rd, 2020
    Part of my personal Portfolio
*/

/* variables */
:root {
    --main: #212121;
    --sec: #ff4d06; 
    --alt: #f2f2f2;
    --dev: #d7dbdd;
}

/* fonts */
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./assets/Montserrat-Medium.ttf');
}

* {
    box-sizing: border-box;
    overflow-x: hidden !important;
    transition: all .3s ease 0s;
    font-weight: 300;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat-Medium';
    background-color:var(--main);
}

.highlight {
    color: var(--sec);
}

li, a, button {
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--alt);
    text-decoration: none;
}

#logo {
    color: var(--sec);
    font-size: 22px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.links {
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 0 20px;
}

.links a {
    transition: all .3s ease 0s;
}

.links li a:hover {
    color: var(--sec)
}

button {
    padding: 9px 25px;
    border: none;
    color: var(--main);
    background-color: var(--alt);
    border-radius: 50px;
    transition: all .3s ease 0s;
    justify-content: flex-end;
}

button:hover {
    background-color: var(--sec);
    color: var(--dev);
}

.main {
    max-width: 1300px;
    margin: 0 auto;
    height: 200%;
}

/* mobile styles */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.toggle-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-menu .bar {
    height: 3px;
    width: 100%;
    background-color: var(--dev);
    border-radius: 10px;
}

.main-content {
    margin: 20px;
    grid-column: 1/9;
    gap: 10px;
}

.main-text {
    font-size: 3em;
    font-weight: 400;
    color: var(--alt);
}

.main-img {
    margin: 20px;
    grid-column: 2/9;
    margin: 0 auto;
    gap: 5px;
}

.main-img img {
    width: 90%;
}

.leading {
    margin: 20px;
    grid-column: 2/8;
}   

.leading p {
    font-size: 16px;
    opacity: .7;
    color: var(--dev);
}

h2 {
    font-size: 1.4em;
}


h3 {
    font-size: 1em;
    color: var(--dev);
    font-weight: 300;
}

h4 {
    font-size: 1.4em;
}

.pricing-section {
    margin-top: 40px;
    background-image: url('/assets/back2.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.pricing-section h2 {
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
    color: var(--dev)
}

.price-img {
    grid-column: 1/9;
    width: 100%;
    height: 400px;
    text-align: center;
}

.price-img img {
    width: 100%;
    height: 50%;
    margin: 10px auto;
}

.sites-section {
    background-image: url('/assets/back1.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--dev);
}

.site {
    margin: 10px;
    padding: 10px;
    width: 500px;
}

.site:nth-child(1) {
    grid-column: 2/5;
    grid-row: 1;
}

.site:nth-child(2) {
    grid-column: 5/9;
    grid-row: 2;
}

.site:nth-child(3) {
    grid-column: 2/5;
    grid-row: 3;
}

.site-text {
    grid-column: 2/5;
    color: var(--dev);
}

.site-img {
    width: 100%;
    grid-column: 5/9;
}

.site-img img {
    width: 100%;
}

.site h2 {
    color: var(--alt);
}

.site p {
    font-size: 16px;
}

/* mobile styles */
@media screen and (min-width: 300px) {

    body {
        font-size: 16px;
    }

    header {
        padding: 12px 20px;
    }

    .main-content {
        grid-column: 1/9;
        grid-row: 1;
    }
    
    .main-img {
        grid-column: 2/9;
    } 

    .price-img {
        grid-column: 1/9;
    }

    .links {
        display: none;
    }
}

/* small tablet styles */
@media only screen and (min-width: 620px) {

    body {
        font-size: 16px;
    }

    .main-content {
        grid-column: 2/8;
        grid-row: 1;
    }
    
    .main-img {
        grid-column: 2/9;
    } 

    .price-img {
        grid-column: 1/9;
    }

    .links {
        display: none;
    }
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }

    .main-content {
        margin: 10px;
        grid-column: 2/8;
        grid-row: 1;
        gap: 10px;
    }
    
    .main-img {
        z-index: -1;
        margin: 20px;
        grid-column: 2/9;
        grid-row: 1;
        gap: 5px;
    }

    .leading {
        text-align: center;
        grid-column: 2/8;
    }

    .price-img:nth-child(1) {
        grid-column: 2/5;
        width: 100%;
        grid-row: 1;
    }
    
    .price-img:nth-child(2) {
        grid-column: 5/8;
        width: 100%;
        grid-row: 1;
    }
    
    .price-img:nth-child(3) {
        grid-column: 3/7;
        width: 100%;
        grid-row: 2;
    }

    .links {
        display: block;
    }

    .site:nth-child(1) {
        grid-column: 2/5;
        grid-row: 1;
    }
    
    .site:nth-child(2) {
        grid-column: 5/9;
        grid-row: 2;
    }
    
    .site:nth-child(3) {
        grid-column: 2/8;
        grid-row: 3;
    }
}

/* desktop styles */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }

    .main-content {
        margin: 20px;
        grid-column: 1/5;
        grid-row: 1;
        gap: 10px;
    }
    
    .main-img {
        margin: 20px;
        grid-column: 5/9;
        grid-row: 1;
        gap: 5px;
    }

    .leading {
        grid-column: 5/9;
    }

    .price-img:nth-child(1) {
        grid-column: 2/4;
        grid-row: 1;
    }
    
    .price-img:nth-child(2) {
        grid-column: 6/8;
        grid-row: 1;
    }
    
    .price-img:nth-child(3) {
        grid-column: 4/6;
        grid-row: 2;
    }

    .links {
        display: block;
    }
}

